* {
    box-sizing: border-box;
}


body. html {
    margin: 0;
    padding: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding:  100px 30px;
}
[data-toggle='modal'] {
    padding: 15px 25px;
    border: 2px solid white;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}


[data-title] {
    color: red;
}
p {
    padding: 30px;
}
.container.box {
    box-shadow:  2px 2px 10px 1px rgba(0 ,0 ,0 ,0.5);
}