* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 800px;
    border: 1px solid red;

}
.brand{
    border: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.envelopes  {
    font-size: 15px;
    font-family:  'Lato', sans-serif;
    color: #a7a7a7;
    padding: 5px;   
}
.right {
    flex: 1;
        display: flex;
        justify-content: flex-end;
    align-items: center;
}
.icon i {
    margin:  10px;
}
.brand-name {
    color: white;
    background-color: #304771;
    font-size: 20px;
    padding: 20px;
    margin-right: 20%;
}
.list-name {
    display: flex;
}
.list-title {
  font-size: 30px;
  display: flex;
  padding: 15px;   
}
.title i {
    justify-content: space-between;
    margin: 40px;
    font-family:  'Lato', sans-serif;
}

.heard {
    width: 100%; 
    position: relative;
   
}
.images-list {
    width: 100%;
   
}
.images-list img{
    width: 100%;
}
.banner { 
    position: absolute;
    top: 75%;
    right: 28%; 
}
.banner-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    font-weight: 800;
    color:#ffffff;
}
.banner-font {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
}
.header-button {
    text-align: center;
    padding: 5%;
}
.header-button-left {
    padding: 20px 60px 20px 60px;
    background: #c8ac48;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.header-button-right {
    padding: 20px 60px 20px 60px;
    background-color: Transparent;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border: 1px solid #ffffff;
}

.rect {
    position: absolute;
    display: flex; /*Flex lap day het khoan trong*/
    width: 1170px;
    height: 230px;
    align-items: stretch;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
}
.Rectangle{
   display: flex;
   align-items: center;
   text-align: center;
    margin: 0 2px;
    
}
.rect .Rectangle:nth-child(1){
    background-color: #304771
}
.rect .Rectangle:nth-child(2){
    background-color: #283c61
}
.rect .Rectangle:nth-child(3){
    background-color: #1e3051
}
.Rectangle p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: #ffffff;
}
.Rectangle i {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #78859e;
}
.heading {
    width: 1400px;
    height: 800px;
   
    margin: 6%;
}.H-heading {
    text-align: center;   
}
.H-heading i {
    font-family:  'Libre Baskerville', serif;
    font-size: 30px;
    color: #304771;
}
.H-heading p {
    font-family:  'Lato', sans-serif;
    font-size: 14px;
}
.I-heading {
    width: 600px;   
    
}
.Text i {
    font-size: 22px;
    color: #777c84;    
}
.Text p {
    font-size: 14px;
    color: #777c84;
    padding: 10px;  
     line-height: 2;  
}
.Text i {
    line-height: 2;
}
.button{
    margin-top: 5%;
}
.button-left {
    padding: 20px 60px 20px 60px;
    background: #c8ac48;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.button-right {
    padding: 20px 60px 20px 60px;
    background-color: Transparent;
    color: #304771;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border: 1px solid #304771;
}
.layout {
      float: right;
    margin-top: -30%;
}
.head {
 height: 350px;
 background-image: url("/b16/hinh/001_Home_Default-Recovered.jpg");
}
.head-title {
    text-align: center;
    font-size: 30px;
    color:#ffffff;
}
.red {
    font-size: 48px;
}
.head-title{
    padding: 6%;
}
.head-title p {
    font-size: 16px ;
    color: #e9e6e3;
}
.Center {
    padding: 20px 60px 20px 60px;
    background: #304771;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
}
  
    


