
img{
    width: 100%;
}
/* header */
.header3-Container{
    width: 100%;
    padding-bottom: 500px;
    background: #1b1e30; 
    display: block;
}

/* Brand */
.brand{
    text-align: center;
    color: white;
}
.brand-welcome h1{
    font-size: 66px;
    
}
.brand-name{
    font-size: 20px;
    text-transform: uppercase;
    background: grey;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.brand-detail{
        font-size: 14px;
        color: rgba(red, green, blue, alpha);
 }
.header-button{
    text-transform: uppercase;
    
}
.header-button-left{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px; 
    color: white;
    font-size: 12px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}
.header-button-right{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px; 
    color: black;
    font-size: 12px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
/* Brand end */

/* Banner */
.banner-img-left{
    width: 30%;
    float: left;
    position: relative;
}
.banner-img-center{
    width: 40%;
    float: left;
}
.banner-img-right{
    width: 30%;
    float: right;
    position: relative;
}
.Container{
    width: 1170px;
    margin: 0 auto;
}
.banner-left-item-a{
    margin-top: 180px;
    width: 90%;
}
.banner-left-item-b{
    position: absolute;
    width: 50%;
    top: 27px;
    left: 10px;
}
.banner-left-item-c{
    position: absolute;
    width: 70%;
    top: -35px;
    right: -20px;
}
.banner-right-img-a{
    width: 70%;
    margin-top: 180px;
}
.banner-right-img-b{
    position: absolute;
    top: 22px;
    left: -14px;
    width: 50%;
}
.banner-right-img-c{
    position: absolute;
    top: -35px;
    right: 0;
    width: 70%;
}
.banner-right-img-d{
    position: absolute;
    bottom: 100px;
    right: 0; 
    width: 30%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heard{
    width: 100%;
    height: 100vh;
    border: 1px solid git  ;
    position: relative;

}
.conternie{
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.1;
    position: absolute;   
    left: 10%;
    top: -8%;
    letter-spacing: 1px;
}
.title{
    width: auto;
    background-color: #FAEBD7;
    height: 89px;
}
.list-block{      
    font-size: 36px;
    font-family: monospace;
    text-align: center;
    margin-top: 100px;
    margin-left: 35px;
}
p{
 text-align: justify;
 margin-top: 30px;
 /* text-align: center; */
}
.namngang{
    width: 82px;
    height: 2px;
    border: 1px solid black;
    margin-left: 541px;
    margin-top: 29px;
}
.icon-block-iteam{ 
    float: left;
   
    border: 1px solid;
    margin-left: -10px;
    margin-right: -10px;
}

.icon-block__circle{
    float: left;   
    width: 25%;
    /* height: 275px; */
    padding: 10px;
}
img{
width: 100%;
}
.icon-block__circle h2{   
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.menu {
    text-align: center;
    background-color: #FAEBD7;
    width: auto;
    height: 90px;
    padding: 10px;
}
.menu a {
    text-decoration: none;
    color: black; 
    padding: 20px;
    line-height: 50px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.heard1{
    max-width: 700px;
    height: 100vh;
    /* border: 1px solid red ; */
    position: relative;
    margin: auto;
}
.list-title{
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    opacity: 0.1;
    top: 25%;
    left: 10%;
    padding: 30px;
    letter-spacing: 5px;
}
.list-nen{
    font-size: 34px;
    font-family: monospace;
    text-align: center;
    margin-top: 157px;
}
.color{
    width: 66px;
    height: -5px;
    border: 1px solid black;
    margin-left: 300px;
    margin-top: 16px;
}
p{
    text-align: center;
    margin-left: 0px;
    margin-top: 6px;
}
.icon-block-item{
    float: left; 
    /* border: 1px solid; */
    width: 50%;
    /* margin: 15px; */
    padding: 15px;
    overflow: hidden;  
}
.icon-block{
    float: left;
    width: 30%;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 0px 0px 2px #f8f8ff;
}
.icon-block-text{
    float: left;
    width: 70%;
    background-color: #F8F8FF;
    /* overflow: hidden; */
    height: 110px;
}
.live{
    width: 100%;
}
img{
    width: 100%;
    /* margin-top: 10px; */
}
h1{
    font-size: 15px;
    margin-left: 10px;
}
.heard2{
    width: 1170px;
    height: auto;
    margin-top: 100px;
    
}
.title{
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.1;
    position: relative;
    left: 23%;
    top: 5%;
    font-weight: bold;
}
.list-nen2{
    font-size: 34px;
    font-family: monospace;
    text-align: center;
    margin-top: 22px;
}
.icon-block-river{
    position: relative;
    margin-top: 60px;
    left: 12%;
}
.icon-block-200{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    background-color: white;
    box-shadow: 0px 0px 11px -1px blue;
    padding: 15px;
    opacity: 0.4;
}
.list-nen2 p{
    font-size: 15px;
    margin-top: 100px;
    padding-left: 300px;   
}
p{
    margin-left: 15px;
}
.head{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px; 
    color: white;
    font-size: 10px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60%;
    background-color: black;
    margin-top: 40px;
}
/* bai5 */
.heard5{
    width: 800px;
    /* height: auto; */
}
.brand-rive-wrap {
    display: inline-block;
}
.brand-river{
    float: left;
    margin: 5px;
    /* border: 1px solid; */
    width: 23%;
    padding: 10px;
}
.brand-img{
    
    width: 109px;
    height: 116px;
    border-radius: 100px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px;
    opacity: 0.5;
}

.brand-list{
    font-size: 120px;
    text-align: center;
    opacity: 0.1;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    position: relative;
}
.P{
    font-size: 12px;
    margin-left: 320px;
}
.brand-icon{
    text-align: center;
}
.brand-ti{
    font-size: 36px;
    margin-left: 45%;
    margin-top: -5%;
}
.aqua{
    /* position: relative; */
    /* background-color: darkblue; */
    display: inline-block;
    width: 100%;
}
/* bài 6 */
.black{
    width: 50%;
    /* height: 800px; */
    /* background-color: #141724; */
    /* position: relative; */
    float: left;
    }
.logo{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    /* position: relative; */
}
.logo p{
    width: 54%;
}
.green{
    font-size: 12px;
    font-family: 'PT Serif', serif;
    margin-top: 65px;
}
.red{
    margin-top: 75px;
}
.red h2{
    margin-left: 89px;
}
.hinh{
    width: 50%;
    position: relative;
     float: left;

}
.layout{
    /* float: left; */
    width: 700px;
    height: 430px;
    position: absolute;
    top: -48px;
    right: 0;
}
.red{
    text-align: justify;
    line-height: 1.2;
    font-size: 12px;
}
.head15{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px; 
    color: white;
    font-size: 10px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    background-color: black;
    margin-top: 40px;
}


/* bai 8 */
.out{
    width: 100%;
}
.yellow{
    width: 50%;
    float: left;
}

.ghost{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    /* position: relative; */
    margin-top: 113px;
}
.gray{
    font-size: 12px;
    font-family: 'PT Serif', serif;
    margin-top: 65px;
}
.pink{
    margin-top: 50px;
    line-height: 40px;
}
 .hinh2{
     width: 50%;
     position: relative;
     float: left;
 }
 .layout2{
    width: 700px;
    height: 430px;
    position: absolute;
    top: 100px;
    right: 0;
 } 
.head16{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px; 
    color: white;
    font-size: 10px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-left: -45%;
    background-color: black;
    margin-top: 25%;

}
.Hello{
    width: 100%;
}
.hinh4{
    width: 50%;
    float: left;
    position: relative;
}
.layout3{
    width: 700px;
    height: 430px;
    position: absolute;
    top: 100px;
    right: 22%;
}
.block-hot{
    width: 50%;
    float: right;
}
.boongker{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    /* position: relative; */
    margin-top: 113px;
}
.pink2{
    font-size: 12px;
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    margin-left: 2%;
}