* {
    margin: auto;
    padding: auto;
    
}

.hinhnen{
    object-fit: cover;
}
.hinhdaidien{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid white
}
.nen{

    position: relative;
}
.avatar{
    position:absolute;
left: 439px;
bottom: -40px;
}
.ten{
    margin-top: 30px;
    margin-left: 435px;
}
.thongtin{
    margin-top: 3px;
    margin-left: 435px;
    color: royalblue ;
}