* {
    margin: auto;
    padding: auto;
    
}

.hinhnen{
    object-fit: cover;
    border: 5px solid black
}
.hinhdaidien{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid white
}
.nen{

    position: relative;
}
.avatar{
    position:absolute;
left: 538px;
bottom: 55px;
}
.ten{
    margin-top: 30px;
    margin-left: 530px;
}
.thongtin{
    margin-top: -2px;
    margin-left: 530px;
    color: royalblue ;
}